 <md-dialog aria-label="List dialog"> 
   <md-dialog-content>
    Move: {{ ::ctrl.notation }}
    <form name="ctrl.form" ng-submit="ctrl.submit()">
      <label for="move-bid">Bid</label>
      <input type="number" required min="0" ng-model="ctrl.evaluation.bid" id="move-bid">
      <rating ng-model="ctrl.evaluation.stars" required class="rating"></rating>
      <label for="move-comment">Comment (optional)</label>
      <textarea type="text" maxlength="300" ng-model="ctrl.evaluation.commentBody" id="move-bid"></textarea>
      <div ng-if="ctrl.evaluation.commentBody">
        {{ 300 - ctrl.evaluation.commentBody.length }} 
        Characters left
      </div>
    </form>
   </md-dialog-content> 
   <div class="md-actions"> 
     <md-button ng-click="ctrl.submit()" class="md-primary"> 
       Submit
     </md-button> 
     <md-button ng-click="ctrl.cancel()" class="md-primary"> 
       Cancel
     </md-button> 
   </div> 
 </md-dialog>