<section class="area game-area" layout="row">

  <div class="game-sidebar" flex="15">
      <timer settings="ctrl.game.settings"></timer>
      <dl class="game-metadata">
        <dt>Clan's Score:</dt>
        <dd>240</dd>
        <img src="img/logo.png" alt="">
        <dt>Tal's Score:</dt>
        <dd>59</dd>
        <dt>Tokens:</dt>
        <dd>532</dd>
      </dl>
  </div>

  <div flex>

    Turn: {{ ctrl.GameBoardService.game.turn() }}

    <div board="{{ ctrl.gameId }}"></div>
    <!-- <nywton-chessgame data-game="ctrl.boardGame" data-board="ctrl.board"></nywton-chessgame> -->
    <button ng-click="ctrl.evaluate('a4 e5 a5 e6')">Evaluate</button>
      <button ng-click="ctrl.startTurn()">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
      <button ng-click="ctrl.endGame()">
          <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
      </button>
      <button ng-click="ctrl.pause()">
          <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
      </button>
    <button ng-click="ctrl.restart()">Restart</button>
    <button ng-click="ctrl.imDone()">I'm Done</button>
    <br>
    Players: 
    <ul>
      <li ng-repeat="user in ctrl.usersList">
        {{ user | displayName }}
        <span ng-if="ctrl.userIsDone(user._id)"> - Done</span>
      </li>
    </ul>

    <br>

    History: {{ ctrl.game.pgn }}
  </div>

  <div flex="40">
    <suggested-moves moves="ctrl.game.suggested_moves" selected-move="ctrl.selectedMove"></suggested-moves>
  </div>

</section>
