<section class="area game-area" layout="row">

  <div class="game-sidebar" flex="15">
      <timer></timer>
      <dl class="game-metadata">
        <dt>Clan's Score:</dt>
        <dd>240</dd>
        <img src="img/logo.png" alt="">
        <dt>Tal's Score:</dt>
        <dd>59</dd>
        <dt>Tokens:</dt>
        <dd>532</dd>
      </dl>
  </div>

  <div flex>
    <nywton-chessgame data-game="ctrl.boardGame" data-board="ctrl.board"></nywton-chessgame>
    <button ng-click="ctrl.restart()">Restart</button>
    <button ng-click="ctrl.executeMove()">Play AI</button>
    History: {{ history }}
  </div>

  <div flex="40">
    <suggested-moves moves="ctrl.game.suggested_moves" selected-move="ctrl.selectedMove"></suggested-moves>
  </div>

</section>
