// This file is for declarations who have no place to stay (yet)

.top-bar {
  background-color: #fff;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-position: right;
}

.top-title {
  color: black;
  letter-spacing: 0.7px;
  line-height: 12.31px;
  padding-left: 58px;
}

md-toolbar md-icon {
  color: rgba(6, 6, 6, 0.87);
}

md-toolbar .md-menu {
    margin: 0;
}

div.hr {
  background: #01060C  no-repeat scroll center;
  width: 100%;
  height: 2px;
}

div.hr hr {
  display: none;
}

h2 {
  font-size: 28px;
  color: white;
  background-color: black;
  padding: 5px;
  text-align: center;
  border-radius: 7.5px;
  font-weight: bold;
}

.ng-submitted .ng-invalid {
  border: 1px solid red;
}

.is-disabled {
  opacity: 0.7;
}

label[for],
[ng-click],
[ui-sref],
.pointer { cursor: pointer; }

.relative { position: relative; }

[class^="sprite-"] {
  display: inline-block;
}

.glyphicon-star { color: #fd5; }

.bold { font-weight: bold; }