// This file is for declarations who have no place to stay (yet)
h2 {
  font-size: 28px;
  color: white;
  background-color: black;
  padding: 5px;
  text-align: center;
  border-radius: 7.5px;
  font-weight: bold;
}

.ng-submitted .ng-invalid {
  border: 1px solid red;
}

.is-disabled {
  opacity: 0.7;
}

label[for],
[ng-click],
[ui-sref],
.pointer { cursor: pointer; }

.relative { position: relative; }

[class^="sprite-"] {
  display: inline-block;
}

.glyphicon-star { color: #fd5; }

.bold { font-weight: bold; }

.progressbar-adjust {
  position: relative;
  bottom: 5px;
}

body { overflow-y: scroll; }

.flex-right { 
  margin-left: auto !important;
  margin-right: 0 !important;
}

#login-dropdown-list {
  right: 1px;
  left: auto !important;
}

.stars {
  font-size: 20px;
}