<div class="comment" layout="row" layout-align="space-between">
   <div class="comment-meta">
     <span class="commenter-name bold">{{ ctrl.mover | displayName }}</span>
     <span class="comment-type">- suggested this move</span>
   </div>
   <span class="comment-time pull-right" time-ago="comment.createdAt"></span>
</div>

<div ng-repeat="comment in ctrl.comments">
  <div class="comment" layout="row" layout-align="space-between">
    <div class="comment-meta">
      <span class="bold">{{ ctrl.getUserBy(comment.userId) | displayName }}</span>:
      {{ comment.text}}
    </div>
    <span class="comment-time pull-right" time-ago="comment.createdAt"></span>
  </div>
</div>

<form ng-submit="ctrl.create()">
  <input type="text"
         required
         class="form-control"
         ng-model="ctrl.newComment.body"
         placeholder="What do you think of this move?" />
</form>