<div id="board2" style="width: 200px"></div>

<div layout="row" layout-align="left">
    <md-button ng-click="startGame()">Start</md-button>
    <md-button ng-click="clearBoard()">Clear Board</md-button>
</div>
<legend>
    Board and Clan details
</legend>
<form layout="column">
    <md-input-container>
        <label>Status</label>
        <input ng-model="party.status" ng-disabled="party.owner != $root.currentUser._id" type="text" aria-label="Description">
    </md-input-container>
    <md-input-container>
        <label>Position</label>
        <input ng-model="party.position" ng-disabled="party.owner != $root.currentUser._id" type="text" aria-label="Description">
    </md-input-container>
    <md-input-container>
        <label>PGN</label>
        <input ng-model="party.pgn" ng-disabled="party.owner != $root.currentUser._id" type="text" aria-label="Description">
    </md-input-container>
    <md-input-container>
        <label>Game Name</label>
        <input ng-model="party.name" ng-disabled="party.owner != $root.currentUser._id" type="text" aria-label="Name">
    </md-input-container>
    <md-input-container>
        <label>Game Description</label>
        <input ng-model="party.description" ng-disabled="party.owner != $root.currentUser._id" type="text" aria-label="Description">
    </md-input-container>
    <md-checkbox ng-model="party.public" ng-disabled="party.owner != $root.currentUser._id" aria-label="Public">
        Is public
    </md-checkbox>

    <div layout="row" layout-align="left">
        <md-button ng-click="save()">Save</md-button>
        <md-button ng-click="reset()">Reset form</md-button>
        <md-button ng-href="/parties">Cancel</md-button>
    </div>

    <md-list ng-show="canInvite()">
        <md-subheader class="md-no-sticky">Users to invite:</md-subheader>
        <md-list-item ng-repeat="user in users | uninvited:party">
            <div>{{ user | displayName }}</div>
            <md-button ng-click="invite(user)">Invite</md-button>
        </md-list-item>
        <!--<md-list-item ng-if="(users | uninvited:party).length <= 0">-->
            <!--Everyone are already invited.-->
        <!--</md-list-item>-->
    </md-list>

</form>
