<div class="col-sm-7 col-md-6">
    <span class="h3" id="time1">0:05:00</span>
    <div id="board" style="width: 400px"></div>
    <span class="h3" id="time2">0:05:00</span>
    <hr>
    <div id="engineStatus">...</div>
</div>
<div class="col-sm-5 col-md-6">
    <h3>Moves:</h3>
    <div id="pgn"></div>
    <hr>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="timeBase" class="control-label col-xs-4 col-sm-6 col-md-4">Base time (min)</label>
            <div class="col-xs-4 col-sm-6 col-md-4">
                <input type="number" class="form-control" id="timeBase" value="5">
            </div>
        </div>
        <div class="form-group">
            <label for="timeInc" class="control-label col-xs-4 col-sm-6 col-md-4">Increment (sec)</label>
            <div class="col-xs-4 col-sm-6 col-md-4">
                <input type="number" class="form-control" id="timeInc" value="2">
            </div>
        </div>
        <div class="form-group">
            <label for="skillLevel" class="control-label col-xs-4 col-sm-6 col-md-4">Skill Level (0-20)</label>
            <div class="col-xs-4 col-sm-6 col-md-4">
                <input type="number" class="form-control" id="skillLevel" value="0">
            </div>
        </div>
        <div class="form-group">
            <label for="color" class="control-label col-xs-4 col-sm-6 col-md-4">I play</label>
            <div class="col-xs-4 col-sm-6 col-md-4">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active" id="color-white"><input type="radio" name="color">White</label>
                    <label class="btn btn-primary" id="color-black"><input type="radio" name="color">Black</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="showScore" class="control-label col-xs-4 col-sm-6 col-md-4">Show score</label>
            <div class="col-xs-4 col-sm-6 col-md-4">
                <input type="checkbox" class="form-control" id="showScore" checked>
            </div>
        </div>
        <div class="form-group">
            <label for="color" class="control-label col-xs-4 col-sm-6 col-md-4"></label>
            <div class="col-xs-4 col-sm-6 col-md-4">
                <button type="button" class="btn btn-primary" onclick="newGame()">New Game</button>
            </div>
        </div>

        <div class="form-group">
            <label for="color" class="control-label col-xs-4 col-sm-6 col-md-4">Promote to</label>
            <div class="col-xs-4 col-sm-6 col-md-4">
                <select id=promote>
                    <option value=q selected>Queen</option>
                    <option value=r>Rook</option>
                    <option value=b>Bishop</option>
                    <option value=n>Knight</option>
                </select>
            </div>
        </div>
    </form>
    <h5>Evaluation</h5>
    <pre id=evaluation></pre>
</div>


<div id="board2" style="width: 200px"></div>

<div layout="row" layout-align="left">
    <md-button ng-click="startGame()">Start</md-button>
    <md-button ng-click="clearBoard()">Clear Board</md-button>
</div>
<legend>
    Board and Clan details
</legend>
<form layout="column">
    <md-input-container>
        <label>Status</label>
        <input ng-model="party.status" ng-disabled="party.owner != $root.currentUser._id" type="text" aria-label="Description">
    </md-input-container>
    <md-input-container>
        <label>Position</label>
        <input ng-model="party.position" ng-disabled="party.owner != $root.currentUser._id" type="text" aria-label="Description">
    </md-input-container>
    <md-input-container>
        <label>PGN</label>
        <input ng-model="party.pgn" ng-disabled="party.owner != $root.currentUser._id" type="text" aria-label="Description">
    </md-input-container>
    <md-input-container>
        <label>Game Name</label>
        <input ng-model="party.name" ng-disabled="party.owner != $root.currentUser._id" type="text" aria-label="Name">
    </md-input-container>
    <md-input-container>
        <label>Game Description</label>
        <input ng-model="party.description" ng-disabled="party.owner != $root.currentUser._id" type="text" aria-label="Description">
    </md-input-container>
    <md-checkbox ng-model="party.public" ng-disabled="party.owner != $root.currentUser._id" aria-label="Public">
        Is public
    </md-checkbox>

    <div layout="row" layout-align="left">
        <md-button ng-click="save()">Save</md-button>
        <md-button ng-click="reset()">Reset form</md-button>
        <md-button ng-href="/parties">Cancel</md-button>
    </div>

    <md-list ng-show="canInvite()">
        <md-subheader class="md-no-sticky">Users to invite:</md-subheader>
        <md-list-item ng-repeat="user in users | uninvited:party">
            <div>{{ user | displayName }}</div>
            <md-button ng-click="invite(user)">Invite</md-button>
        </md-list-item>
        <!--<md-list-item ng-if="(users | uninvited:party).length <= 0">-->
        <!--Everyone are already invited.-->
        <!--</md-list-item>-->
    </md-list>

</form>
