<div>
  <div layout="row">
    <h1>Games</h1>
  </div>
  
  <!-- TODO :: Remove after solving multiple game engine bug -->
  <div layout="row">
    <form ng-submit="ctrl.create()">
      <input type="text" ng-model="ctrl.newGame.title" placeholder="Game title" required>
      <button>Create new game</button>
    </form>
  </div>

  <md-content>
    <md-list>
      <md-list-item ng-repeat="game in ctrl.games" class="md-2-line" ng-if="game.status !== 'archived'">
        <a class="md-list-item-text" ui-sref="game({ id: game._id })">
          {{ ::game.title }}
        </a>
        <div class="md-list-item-text">
          <md-icon ng-if="ctrl.userCanDestroy(game)"
                   ng-click="ctrl.destroy(game._id)"
                   md-svg-icon="content:ic_clear_24px"
                   aria-label="Delete game"></md-icon>
          <md-icon ng-if="ctrl.userCanArchive(game)"
                   ng-click="ctrl.archive(game._id)"
                   md-svg-icon="action:ic_lock_24px"
                   aria-label="Archive game"></md-icon>
          
        </div>
      </md-list-item>
    </md-list>
  </md-content>

</div>