<section class="game-area" flex="66" layout="row">
  
  <div class="game-sidebar" flex="15">
      <timer></timer>
      <dl class="game-metadata">
        <dt>Clan's Score:</dt>
        <dd>240</dd>
        <img src="img/logo.png" alt="">
        <dt>Tal's Score:</dt>
        <dd>59</dd>
        <dt>Tokens:</dt>
        <dd>532</dd>
      </dl>
  </div>
  
  <div flex="35">
    <nywton-chessgame data-game="game" data-board="board"></nywton-chessgame>
  </div>
  
  <div flex="50">
    <suggested-moves moves="suggestedMoves"></suggested-moves>
     valuations: {{ evaluations }}
     selected_move: {{ selected_move }}
     <form ng-submit="evauluateMove()">
      Stars: <input type="number" ng-model="selected_move.stars">
      Is Favorite: <input type="checkbox" ng-model="selected_move.favorite_move">
     </form>
  </div>

</section>

<!-- <ng-include src="'client/games/partials/suggested_moves_panel.ng.html'"></ng-include> -->

<evaluations-area layout="column" flex="33">
    
    <move-slide-carousel>

        <carousel-handler>
            <carousel-point type="move-evaluated|move-visible|move-not-evaluated"></carousel-point>
            <carousel-point type="move-evaluated|move-visible|move-not-evaluated"></carousel-point>
            <carousel-point type="move-evaluated|move-visible|move-not-evaluated"></carousel-point>
        </carousel-handler>
        
        <evaluation class="visible">
            <h2>{{move}}</h2>
            <stars-handler></stars-handler>
            {{avg_stars}} stars | {{reputation_sum}} of total player reputation
            <choose-selected-move checked></choose-selected-move>
            <input type="text" name="associated-comment" />
            <input type="submit" name="evaluate" />
        </evaluation>
        
        <evaluation class="hidden"></evaluation>
        
        <evaluation class="hidden"></evaluation>            
        
    </move-slide-carousel>
    
    <comments>
        <comment>{{created_at}}: {{body}}</comment>
        <comment>{{created_at}}: {{body}}</comment>
        <comment>{{created_at}}: {{body}}</comment>
        <input type="text" name="new-comment" />
    </comments>
    
</evaluations-area>
