/* glue: 0.4 hash: a7701fe6c2 */
.sprite-logo-is-hover,
.sprite-badge3dig,
.sprite-divider,
.sprite-players_title_white,
.sprite-players_title_black,
.sprite-comments_yes,
.sprite-comments_no:hover,
.sprite-badge,
.sprite-rep,
.sprite-hamburger_menu_icon,
.sprite-coins,
.sprite-rank,
.sprite-heart{background-image:url('to_sprites.png');background-repeat:no-repeat}
.sprite-logo-is-hover{background-position:0px 0px;width:144px;height:44px;}
.sprite-badge3dig{background-position:0px -44px;width:36px;height:28px;}
.sprite-divider{background-position:0px -72px;width:4px;height:32px;}
.sprite-players_title_white{background-position:-36px -44px;width:28px;height:28px;}
.sprite-players_title_black{background-position:-64px -44px;width:28px;height:28px;}
.sprite-comments_yes{background-position:-92px -44px;width:28px;height:28px;}
.sprite-comments_no:hover{background-position:-4px -72px;width:28px;height:28px;}
.sprite-badge{background-position:-32px -72px;width:28px;height:28px;}
.sprite-rep{background-position:-120px -44px;width:24px;height:20px;}
.sprite-hamburger_menu_icon:hover{background-position:-60px -72px;width:24px;height:20px;}
.sprite-hamburger_menu_icon{background-position:-84px -72px;width:24px;height:20px;}
.sprite-coins{background-position:-108px -72px;width:24px;height:20px;}
.sprite-badge:active{background-position:0px -104px;width:24px;height:24px;}
.sprite-rank{background-position:-24px -104px;width:20px;height:20px;}
.sprite-heart{background-position:-44px -104px;width:20px;height:16px;}
