<div class="game">
  <section layout="row" layout-margin>
    <div flex="10">
      <md-list>
        <md-list-item ng-repeat="move in ctrl.game.moves | reverse | groupEvery: 2: ' '">
         <span>{{ ::$index + 1 }}</span>  
         <span class="bold">{{ ::move }}</span>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>      
    </div>
    <div flex>
      <div board="{{ ctrl.gameId }}" style="max-width: 460px;"></div>
    </div>

    <div flex="30">
      <timer settings="ctrl.timer"></timer>
      <suggested-moves turn-index="ctrl.game.turnIndex" 
                       selected-move="ctrl.selectedMove" 
                       suggested-moves="ctrl.suggestedMoves" 
                       ng-if="ctrl.game.turnIndex"></suggested-moves>
    </div>

    <div flex="30">
      <tabset>
        <tab heading="Notifications">
          <feed game-id="ctrl.gameId" turn-index="ctrl.game.turnIndex"></feed>
        </tab>
        <tab heading="Players">
          <players></players>
        </tab>
      </tabset>
    </div>
  </section>

  <bottom-bar></bottom-bar>
</div>