<div class="game">
  <section layout="row" layout-margin>
    <div flex style="max-width: 460px;">
      <div board="{{ ctrl.gameId }}" ng-if="ctrl.gameId" style="max-width: 460px;"></div>
      <history moves="ctrl.game.moves"></history>
    </div>

    <div flex="30">
      <div ng-if="!ctrl.game.winner">
        <div class="clearfix">
          <timer game-id="ctrl.gameId"
                 is-game-in-play="ctrl.game.inPlay"
                 class="pull-left"></timer>
          <span class="pull-right">
            Score: {{ ctrl.game.score }}
            <div>
              <input type="checkbox" 
                     id="im-done-for-this-tun" 
                     ng-model="ctrl.currnetPlayerIsDone"
                     ng-change="ctrl.imDone()"
                     ng-disabled="ctrl.currnetPlayerIsDone || 
                                  !ctrl.game.inPlay || 
                                  ctrl.game.turn === 'AI'">
              <label for="im-done-for-this-tun">I'm done</label>
            </div>
          </span>
                     
        </div>

        <suggested-moves selected-move="ctrl.selectedMove"
                         active-reputation-sum="ctrl.activeReputationSum"
                         suggested-moves="ctrl.suggestedMoves"
                         ng-if="ctrl.game.turnIndex"></suggested-moves>
      </div>

      <div ng-if="ctrl.game.winner">
        <h1>
          <strong>{{ ctrl.game.winner }}</strong> 
          wins the game!
        </h1>
      </div>
    </div>

    <div flex="30" class="flex-right">
      <tabset>
        <tab heading="Notifications">
          <feed game-id="ctrl.gameId" turn-index="ctrl.game.turnIndex"></feed>
        </tab>
        <tab heading="Players">
          <players game-id="ctrl.gameId"></players>
        </tab>
      </tabset>
    </div>
  </section>

  <bottom-bar></bottom-bar>
</div>