@import "suggested_moves/suggested_moves.import.less";
@import "comments/comments.import.less";
@import "players/players.import.less";
@import "timer/timer.import.less";

.game-sidebar {
  text-align: center;
}

.game-metadata {
  dt {
    font-size: 12px;
    font-weight: normal;
  }
  dd {
    font-size: 32px;
    font-weight: bold;
  }
}

.highlight-square {
  box-shadow: 0 0 0px 3px  red inset;
  background-color: gray;
}