<div>
  <section class="area game-area" layout="row" layout-margin>
    <div class="game-sidebar" flex="15">
        <timer settings="ctrl.timer"></timer>
        <dl class="game-metadata">
          <dt>Clan's Score:</dt>
          <dd>240</dd>
          <img src="img/logo.png" alt="">
          <dt>Tal's Score:</dt>
          <dd>59</dd>
          <dt>Tokens:</dt>
          <dd>532</dd>
        </dl>
    </div>

    <div flex>

      <strong>DB:</strong> <br>
      History: {{ ctrl.game.moves.join(" ") }} <br />
      FEN: {{ ctrl.game.fen }} <br />
      TURN: {{ ctrl.status.turn }} <br />
      <strong>LOCAL:</strong> <br>
      History: {{ ctrl.ChessValidator.game.history().join(" ") }} <br />
      Turn: {{ ctrl.ChessValidator.game.turn() }} <br />
      FEN: {{ ctrl.ChessValidator.game.fen() }} <br />

      <div board="{{ ctrl.gameId }}"></div>
      <button ng-click="ctrl.startTurn()">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
      <button ng-click="ctrl.endGame()">
          <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
      </button>
      <button ng-click="ctrl.pause()">
          <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
      </button>
      <button ng-click="ctrl.restart()">Restart</button>
      <button ng-click="ctrl.imDone()"
              ng-class="{ 'is-disabled': ctrl.isDone() }"
              ng-disabled="ctrl.isDone()">I'm Done</button>
      <br>
      <br>
      <br>

      <!-- <players game="ctrl.game"></players> -->

      <br>

      History: {{ ctrl.game.pgn }}
    </div>

    <div flex="40">
        <suggested-moves game-id="'1'" selected-move="ctrl.selectedMove" status="ctrl.status"></suggested-moves>
    </div>
  </section>
</div>
