<h2>Suggested Moves</h2>

<div id="filter-dropdown">
  <md-select ng-model="sorting" placeholder="Sort by..." class="pull-right">
      <md-option ng-value="relevance_score">Relevance</md-option>
      <md-option ng-value="reputation_sum">Reputation</md-option>
      <md-option ng-value="avg_stars">Stars</md-option>
      <md-option ng-value="created_at">Created At</md-option>
  </md-select>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td>Move</td>
      <td>Stars</td>
      <td>Reputation</td>
      <td>Relevance</td>
      <td>Created At</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="move in moves | orderBy : sorting" ng-click="select(move)">
      <td>{{ ::move.fen }}</td>
      <td>{{ move.avg_stars }}</td>
      <td>{{ move.reputation_sum }}</td>
      <td>{{ move.relevance }}</td>
      <td>{{ ::move.created_at }}</td>
    </tr>
  </tbody>
</table>
