<h2>Suggested Moves</h2>

<div id="filter-dropdown">
  <md-select ng-model="ctrl.sorting" placeholder="Sort by..." class="pull-right">
      <md-option ng-value="relevance_score">Relevance</md-option>
      <md-option ng-value="reputation_sum">Reputation</md-option>
      <md-option ng-value="avg_stars">Stars</md-option>
      <md-option ng-value="created_at">Created At</md-option>
  </md-select>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td>Move</td>
      <td>Evalutions</td>
      <td>User</td>
      <td>Stars</td>
      <td>Favorite</td>
      <td>Created</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="move in ctrl.moves | orderBy : sorting" 
        ng-class="{ 'active': ctrl.selectedMove.notation == move.notation }"
        ng-click="ctrl.toggle(move)">
      <td>{{ ::move.notation }}</td>
      <td>{{ move.evaluations.length }}</td>
      <td>{{ move.user_id | displayNameById }}</td>
      <td>{{ move | avgStars }}</td>
      <td>{{ move | favoriteCount }}</td>
      <td time-ago="move.created_at"></td>
    </tr>
  </tbody>
</table>