<td>{{ ::ctrl.move.notation }}</td>
<td>{{ ctrl.evaluations.length }}</td>
<td>{{ ::ctrl.move.userId | displayNameById }}</td>
<td>{{ ctrl.evaluations | avgStars }}</td>
<!-- TODO :: Chnange to countes -->
<td>{{ ctrl.favMoves.length }}</td>
<td time-ago="ctrl.move.createdAt"></td>
<td>
  <rating ng-model="myRating"
          move-id="{{ ctrl.move._id }}"
          my-rating></rating>
</td>
<td>
  <input type="radio" 
         name="myFavMove" 
         ng-model="ctrl.myFavMove" 
         ng-value="ctrl.move" 
         ng-change="ctrl.favor()" 
         ng-checked="ctrl.myFavMove.moveId === ctrl.move._id">
</td>
<td class="relative">
  <md-icon md-svg-icon="communication:ic_comment_24px" 
           aria-label="Move Comments"></md-icon>
           {{ ctrl.comments.length }}
  <div class="move-comments">Comments!</div>
</td>